.foot-img{
	display: block;
	width:100%;
}
.nav{
	width: 100%;
	height: 40px;
	background: #000;
}
.nav ul li{
	display: inline-block;
	height:40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	padding:0px 35px;
	color:#fff;
}
.nav ul .active{
	background: #fe0d4a;
}
.body-wrapper{
	width:100%;
}
.body-wrapper .title{
	width:100%;
	padding:5px 0px;
	font-size: 14px;
	color:#484848;
}
.detail-lf{
	float:left;
	width:980px;
	height: 600px;
	padding: 10px;
}
.detail-rt{
	float:right;
}
.img-block{
	display: inline-block;
	vertical-align: top;
	width:410px;
}
.msg-block{
	display: inline-block;
	vertical-align: top;
	width:480px;
	margin-left:10px;
	position: relative;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top{
  width: 100% ! important;
  height: 410px! important;
}
.gallery-thumbs {
  width: 80% ! important;
  height: 60px ! important;
  margin:auto;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 60px ! important;
  height: 60px ! important;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
#big-box{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 99;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
#big-box img{
	width: 1000px;
	position: absolute;
}
.msg-block h3{
	font-size: 16px;
	color:#484848;
	font-weight: normal;
}
.msg-block p{
	font-size: 12px;
	color:#676660;
	font-weight: normal;
	padding :10px 0px;
}
.row,.row2,.row3{
	display: block;
	width: 100%;
	margin: 15px 0px;
}
.row span{
	padding:0px 10px;
	font-size: 14px;
	color: #676660;
}
.row2 span{
	display: inline-block;
	margin:0px 10px;
	font-size: 14px;
	color: #676660;
	width:72px;
	height:36px;
	line-height: 36px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.row2 .active{
	border:1px solid #f00;
}
.row2 span .none{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.row2 .active .none{
	display: block;
}
.row3 h4{
	display: inline-block;
	vertical-align: middle;
	padding:0px 10px;
	font-size: 14px;
	color: #676660;
	font-weight: normal;
}
.row3 .tool{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.row3 span{
	float:left;
	width:20px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color:#484848;
	border:1px solid #aca7a2;
	font-size: 16px;
	cursor: pointer;
}
.row3 input{
	float:left;
	color:#484848;
	padding:3px 0px;
	border:1px solid #aca7a2;
	font-size: 16px;
	width:45px;
	height: 20px;
	text-align: center;
}
.row h2{
	width:100%;
	padding:0px 10px;
	font-size: 14px;
	color: #676660;
	font-weight: normal;
	text-align: center;
	padding-top:10px;
}
.row h2 #blod{
	font-size: 16px;
	color:#ffae00;
}
.row a{
	display: inline-block;
	vertical-align: middle;
	padding: 5px 24px;
	border: 1px solid #ff0754;
	border-radius: 5px;
	font-size: 18px;
	color: #ff0754;
	margin:0px 10px;
}
.row .a-active{
	background: #ff0754;
	color:#fff;
}
#fix-right{
	position: fixed;
	right:0px;
	top:60px;
	width: 40px;
	z-index: 99;
}
.fix-right-item{
	width:100%;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	height:140px;
	margin:5px 0px;
}
.fix-right-item img{
	position: absolute;
	top:0px;
	left:0px;
}
.fix-right-item .img-active{
	left:-100px;
}